<table>
    <tr>
        <th>First name:</th>
        <td><input type="text" id="fname" /></td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td><input type="text" id="fname" /></td>
    </tr>
    <tr>
        <th>E-mail:</th>
        <td><input type="text" id="email" /></td>
    </tr>
</table>







<!--<label>First name:
    <input type="text" id="fname" />
</label><br>

<label>Last name:
    <input type="text" id="lname" />
</label><br>

<label>E-mail:
    <input type="text" id="fname" />
</label>-->